.env

# Ignore data and binaries
/data/**
/Interfaz_Usuario/Backend/data/**
*.db
*.db-shm
*.db-wal
*.exe
/dist_final/**
/dist_complete/**
/build_final/**
/build/**
/venv/**
/logs/**


.venv/**

logs/backend_ultra.log/**
Interfaz_Usuario/Backend/__pycache__/**
Control_Etiquetado/__pycache__/**
utils/__pycache__/**
interfaz_usuario/Backend/logs/**
Interfaz_Usuario/Backend/logs/backend_ultra.log
Control_Etiquetado/__pycache__/relay_motor_controller_pi5.cpython-311.pyc
Control_Etiquetado/__pycache__/sensor_interface.cpython-311.pyc
Control_Etiquetado/__pycache__/relay_motor_controller_pi5.cpython-311.pyc
Interfaz_Usuario/Backend/logs/backend_ultra.log
weights/best.pt
C:\Users\elias\OneDrive\Desktop\VisiFruit\weights
weights/best.pt
